<% content_for :javascripts do %>
  <%= javascript_include_tag "sorttable" %>
<% end %>

<p>
This page shows you the status of current and recent autograding jobs, displayed in timezone <%= @tango_info["timezone_name"] %>.<br />
<%= link_to "Click here", tango_status_course_jobs_path %> to view the overall status of Tango VMs.
</p>

<h3>Currently Running Jobs</h3>

<% if @running_jobs.length > 0 then %>
  <p><%= @running_jobs.length %> jobs (most recent submission first)</p>
<% end %>
  <table class='prettyBorder sortable'>
  <tr><th>Job ID</th><th>Job Name</th><th>Submitted At</th>
  <th>Elapsed</th><th>Start at</th><th>Status</th></tr>
  <% for @job in @running_jobs do %>
    <tr>
    <td> <%= @job[:id] %> </td> 
    <td> <%= @job[:name] %> </td>
    <td> <%= @job[:submissionTime] %> </td>
    <td> <%= @job[:elapsed] %> </td>
    <td> <%= @job[:startAt] %> </td>

    <% if @job[:name] == "*" then %>
      <td> <%= @job[:state] %> </td>
    <% elsif @cud.user.administrator? or @cud.instructor? %>
      <td> <%= link_to @job[:status] , 
      {:controller=>"jobs", :action=>"getjob", :id=>@job[:id]}%> </td>
    <% else %>
      <td><%= @job[:status] %></td>
    <% end %>

    </tr>
  <% end %>
  </table>

<h3>Jobs Waiting to Run</h3>

<% if @waiting_jobs.length > 0 then %>
  <p><%= @waiting_jobs.length %> jobs (most recent submission first)</p>
<% end %>
  <table class='prettyBorder sortable'>
  <tr><th>Job ID</th><th>Job Name</th><th>Submitted At</th><th>Elapsed</th><th>Status</th></tr>
  <% for @job in @waiting_jobs do %>
    <tr>
    <td> <%= @job[:id] %> </td> 
    <td> <%= @job[:name] %> </td>
    <td> <%= @job[:submissionTime] %> </td>
    <td> <%= @job[:elapsed] %> </td>

    <% if @job[:name] == "*" then %>
      <td> <%= @job[:state] %> </td>
    <% elsif @cud.user.administrator? or @cud.instructor? %>
      <td> <%= link_to @job[:state] , 
      {:controller=>"jobs", :action=>"getjob", :id=>@job[:id]}%> </td>
    <% else %>
      <td> <%= @job[:state] %></td>
    <% end %>

    </tr>
  <% end %>
  </table>

<% if @cud.user.administrator? then %>
  <h3>Recently Completed Jobs <%= @dead_jobs_since %></h3>
<% elsif @cud.instructor? then %>
  <h3>Recently Completed Jobs For This Course <%= @dead_jobs_since %></h3>
<% else %>
  <h3>Your Recently Completed Jobs <%= @dead_jobs_since %></h3>
<% end %>

<% if @dead_jobs_view.length > 0 then %>
  <p><%= @dead_jobs_view.length %> jobs (most recent completion first)</p>
<% end %>
  <table class='prettyBorder sortable'>
  <tr><th>Job ID</th><th>Job Name</th><th>Submitted At</th>
  <th>Completed At</th><th>Elapsed</th><th>Start at</th><th>Duration</th>
  <th>Status</th></tr>
  <% for @job in @dead_jobs_view do %>
    <tr <% if @job[:state] == "Failed" then %> style="background-color:#ce4844; color:#fff"<% end %>>    <td> <%= @job[:id] %> </td>
    <td> <%= @job[:name] %> </td> 
    <td> <%= @job[:submissionTime] %> </td>
    <td> <%= @job[:completionTime] %> </td>
    <td> <%= @job[:elapsed] %> </td>
    <td> <%= @job[:startAt] %> </td>
    <td> <%= @job[:duration] %> </td>
    <td> <%= link_to @job[:state], {:controller => "jobs", :action => "getjob", :id=>@job[:id]} %> </td>
    </tr>
  <% end %>
  </table>

<% if @dead_jobs_view.length > 0 then %>
  <p>
  <% if @dead_jobs_view.size <= AUTOCONFIG_DEF_DEAD_JOBS then %>
    <%= link_to "View long list of recently completed jobs", 
      {:controller=>"jobs", :id=>AUTOCONFIG_MAX_DEAD_JOBS} %>
  <% else %>
    <%= link_to "View short list of recently completed jobs", 
      {:controller=>"jobs", :id=>nil} %>
  <% end %>
  </p>
<% end %>

